.rowContainer {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.option {
    border-radius: 8px;
    border: 2px white solid;
    padding: 20px;
    color: white;
    background-color: #1a1a1a;
    transition: color 0.25s,
                border-color 0.25s;
                background-color: 0.25s;
}

.option:hover {
    border-color: brown;
    color: brown;
}

.activeOption {
    border-color: white;
    background-color: white;
    color: brown;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}